html {
  height: 100vh;
  margin:0;
  padding:0;
}
body { 
  height: 100vh;
  margin: 0;
  padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.maplibregl-ctrl-basemaps {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  top: 0px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
}

.osmserbia-fieldset {
  margin-bottom: 10px;
}

.bikepath-upper {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}

.btn-rotated {
  height: 80px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.line-full {
  margin:5px 0;
  height:5px;
  background:
    repeating-linear-gradient(90deg,blue 0 5px,#0000 0 0px)
    /*5px red then 2px transparent -> repeat this!*/
}

.line-dash {
  margin:5px 0;
  height:4px;
  background:
    repeating-linear-gradient(90deg,blue 0 6px,#0000 0 14px)
    /*3px red then 4px transparent -> repeat this!*/
}

.mapboxgl-ctrl-top-left,
.mapboxgl-ctrl-top-right {
  top:60px;
}

nav.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  position:relative;
  padding:.5rem 1rem;
}

nav.navbar .navbar-nav .nav-item {
  margin-left:20px
}

.modal-content {
    position:relative;
    display:flex;
    flex-direction:column;
    width:100%;
    pointer-events:auto;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid rgba(0,0,0,.2);
    border-radius:.3rem;
    outline:0
  }

p {
  margin-top:0;
  margin-bottom:1rem
}

.desktop-visible {
  visibility: hidden;
  display: none;
}

.mobile-visible {
  visibility: visible;
  display: block;
}

@media (min-width: 768px) {
  .desktop-visible {
    visibility: visible;
    display: block;
  }
}

@media (min-width: 768px) {
  .mobile-visible {
    visibility: hidden;
    display: none;
  }
}

.modal-header {
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
  padding:1rem;
  border-bottom:1px solid #dee2e6;
  border-top-left-radius:calc(.3rem - 1px);
  border-top-right-radius:calc(.3rem - 1px)
}

.modal-header .close {
    padding:1rem;
    margin:-1rem -1rem -1rem auto;
  }

.modal-title {
  margin-bottom:0;
  line-height:1.5
}

.dropdown-menu {
  color: var(--text-color-map-solid);
  background-color: var(--bg-color-map-solid);
  border-color: var(--border-color-modal);
}
