<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bike SRB - {{ city.name }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="css/maplibre-gl.css" />
  <link rel="stylesheet" type="text/css" href="css/theme.css" />
  <script src="js/maplibre-gl.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="index.html"><i class="fas fa-bicycle"></i>&nbsp;&nbsp;Bike SRB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="justify-content-sm-end collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" class="btn btn-primary" data-bs-toggle="modal" href="#about"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;O Bike SRB</a></li>
        <li class="nav-item"><a class="nav-link" class="btn btn-primary" data-bs-toggle="modal" href="#contact"><i class="fas fa-pencil"></i>&nbsp;&nbsp;Prijavi grešku</a></li>
        <li class="nav-item"><a class="nav-link" class="btn btn-primary" data-bs-toggle="modal" href="#statistics"><i class="fas fa-table"></i>&nbsp;&nbsp;Statistika</a></li>
        <li class="nav-item"><a class="nav-link" class="btn btn-primary" data-bs-toggle="modal" href="#navigation"><i class="fas fa-bicycle"></i>&nbsp;&nbsp;Hoću i navigaciju</a></li>
        <li class="nav-item"><a class="nav-link" target="_blank" href="https://gitlab.com/osm-serbia/bikepaths"><i class="fab fa-github"></i>&nbsp;&nbsp;Kôd</a></li>
      </ul>
    </div>
  </nav>
  <div class="maplibregl-map maplibregl-ctrl-bottom-left maplibregl-ctrl" style="margin: 0px 0px 29px 5px;">
    <a href="https://openstreetmap.rs/o-mapi">
      <img style="border: solid 1px #aaa;" src="img/logo.png">
      <br/>
      Stavite ovu mapu na Vaš sajt
    </a>
  </div>

  <div class="maplibregl-map maplibregl-ctrl-bottom-right maplibregl-ctrl" style="margin: 0px 10px 20px 5px;background: rgba(255, 255, 255, 0.8); padding: 10px 20px 10px 20px;">
    <legend style="text-align: center;margin-bottom: 10px;">Legenda</legend>
    <table>
      <tr>
        <td style="width: 55px; padding-right: 20px;"><div class="line-full"></div></td>
        <td>Bici staze</td>
      </tr>
      <tr>
        <td style="width: 55px;padding-right: 20px;"><div class="line-dash"></div></td>
        <td>Bici trake</td>
      </tr>
    </table>
  </div>

  <div class="maplibregl-map maplibregl-ctrl-top-right maplibregl-ctrl mobile-visible" style="margin: 70px 0px 0px 0px;background: rgba(255, 255, 255, 0.8);">
    <button type="button" class="btn btn-rotated" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExampleLabel">
      Opcije
    </button>
  </div>

  <div class="offcanvas offcanvas-end" style="top: 60px;height: fit-content;--bs-offcanvas-width: min(75vw, 300px) !important;"
      tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body">

      <div class="maplibregl-ctrl maplibregl-ctrl-basemaps">
        <fieldset class="bikepath-upper">
          <legend style="font-size: 1rem;">Promeni grad</legend>
          <div>
            <select id="selectCity1" style="width: 100%;">
            {% for city_choose in cities.values() %}
              {% if city_choose.short == city.short %}
                <option value="{{ city_choose.short }}" selected>{{ city_choose.name }}</option>
              {% else %}
                <option value="{{ city_choose.short }}">{{ city_choose.name }}</option>
              {% endif %}
            {% endfor %}
            </select>
          </div>
        </fieldset>
        <br>
        <fieldset class="bikepath-upper" style="border: rgba(0, 0, 0, 0.2);border-style: solid;margin: 10px 10px 5px 5px;border-radius: 5%;">
          Istakni podlogu:
          <div>
            <select id="selectSurface1" style="width: 100%;">
              <option value="">Ništa</option>
              <option value="surface-asphalt">Asfalt</option>
              <option value="surface-concrete">Beton</option>
              <option value="surface-paving_stones">Pločnik</option>
              <option value="surface-sett">Kaldrma</option>
              <option value="surface-paved">Čvrsta (nespecifirano)</option>
              <option value="surface-ground">Zemlja</option>
              <option value="surface-unknown">Nepoznato</option>
            </select>
            <br/>
            ili osvetljenost:
            <br/>
            <select id="selectLit1" style="width: 100%;">
              <option value="">Ništa</option>
              <option value="lit-yes">Da</option>
              <option value="lit-no">Ne</option>
              <option value="lit-unknown">Nepoznato</option>
            </select>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="maplibregl-ctrl-top-right maplibregl-ctrl desktop-visible" style="margin: 65px 0px 0px 0px;background: rgba(255, 255, 255);">
    <fieldset class="bikepath-upper">
      <legend style="font-size: 1rem;">Promeni grad</legend>
      <div>
        <select id="selectCity2" style="width: 100%;">
          {% for city_choose in cities.values() %}
            {% if city_choose.short == city.short %}
              <option value="{{ city_choose.short }}" selected>{{ city_choose.name }}</option>
            {% else %}
              <option value="{{ city_choose.short }}">{{ city_choose.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </fieldset>
    <fieldset class="bikepath-upper" style="border: rgba(0, 0, 0, 0.2);border-style: solid;margin: 10px 10px 5px 5px;border-radius: 5%;">
      Istakni podlogu:
      <div>
        <select id="selectSurface2" style="width: 100%;">
          <option value="">Ništa</option>
          <option value="surface-asphalt">Asfalt</option>
          <option value="surface-concrete">Beton</option>
          <option value="surface-paving_stones">Pločnik</option>
          <option value="surface-sett">Kaldrma</option>
          <option value="surface-paved">Čvrsta (nespecifirano)</option>
          <option value="surface-ground">Zemlja</option>
          <option value="surface-unknown">Nepoznato</option>
        </select>
        <br/>
        ili osvetljenost:
        <br/>
        <select id="selectLit2" style="width: 100%;">
          <option value="">Ništa</option>
          <option value="lit-yes">Da</option>
          <option value="lit-no">Ne</option>
          <option value="lit-unknown">Nepoznato</option>
        </select>
      </div>
    </fieldset>
  </div>

  <main class="flex-fill">
    <div id='map'></div>
  </main>

  <div id="about" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <i class="fas fa-info-circle"></i>&nbsp;&nbsp;O Bike SRB
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Šta je Bike SRB</h5>
          <p>
            Bike SRB je interaktivna karta gradova u Srbiji koja prikazuje sve biciklističke staze i trake u njima.
          </p>
          <p>
            Cilj ovog projekta je promovisanje vožnje bicikala i povećanje svesti gde je bezbedno voziti bicikl. Imati jedan
            ovakav prikaz postojeće infrastrukture je preduslov da se vidi gde smo i gde želimo da budemo.
          </p>

          <h5>Šta je ovde bici staza, a šta bici traka?</h5>
          <p>
            <b>Bici staza</b> je svaka biciklistička staza koja je namenjena isključivo za bicikliste i ne meša se sa vozilima ili pešacima.
            Nije dovoljno da postoji plavi znak da staza postoji &ndash; staza mora da se vidi i da bude obeležena.
          </p>
          <p>
            <b>Bici traka</b> je označen deo kolovoza gde biciklisti mogu da se kreću zajedno sa vozilima (ili drugim pešacima).
          </p>
          <p>
            Primetite da ima još dosta mesta po gradu gde biciklisti mogu da se kreću, no poenta ove karte je da ukaže na puteve koji su isključivo
            namenjeni biciklistima.
          </p>

          <h5>Kako smo napravili kartu?</h5>

          <p>
              Podaci iz karte su došli iz <a href="https://www.openstreetmap.org" target="_blank">OpenStreetMap</a> projekta koji je
              besplatna i otvorena karta sveta. Svako može da je koristi i da je menja, pa su otud podaci iz ove karte jedni od najpreciznijih i najkvalitetnijih.
          </p>
          <p>
              Karta se ažurira svakodnevno podacima iz OpenStreetMap-a.
          </p>
          <p>
            Izvorni kôd ovog projekta može da se nađe <a target="_blank" href="https://gitlab.com/osm-serbia/bikepaths/">ovde</a>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <i class="fas fa-envelope"></i>Prijavi grešku
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Ukoliko mislite da ste našli grešku, postoji nekoliko načina da je ispravite!<br><br>
          <ul>
            <li><b>Ucrtajte je sami!</b> &ndash; ovo je najbolji i najefikasniji način😀.
              Idite na <a href="https://www.openstreetmap.org" target="_blank">openstreetmap.org</a>, kliknite "Edit" i probajte sami da doprinesete.
              Uzmite inspiraciju kako se obeležavaju staze sa drugih, već ucrtanih, staza.
            </li>
            <li><b>Ostavite belešku</b> &ndash; idite na
              <a href="https://www.openstreetmap.org/note/new#map=14/44.8075/20.4461" target="_blank">unos beleški</a>.
              Tu treba da pomerite pin na mesto problema i sa leve strane da unesete opis problema.
              Neki od OpenStreetMap volontera će već pogledati ovo, obići to mesto i uneti u OSM.
            </li>
            <li><b>Javite se na forumu</b>&ndash; idite na
              <a href="https://community.openstreetmap.org/t/projekat-bici-staze-u-gradovima-srbije/100833" target="_blank">domaći forum</a> i ostavite komentar gde je problem.
            </li>
          </ul>
          <br>
          <div>
            Ukoliko imate neki predlog, ideju, pitanje, želju za drugim gradovima... najbolje je da ostavite komentar na
            <a href="https://community.openstreetmap.org/t/projekat-bici-staze-u-gradovima-srbije/100833" target="_blank">forumu</a>.
          </div>
          <br>
          <div>
            Ako želite da kontaktirate autora direktno, pošaljite mail na <a href="mailto:bikesrb@kokanovic.org">bikesrb@kokanovic.org</a>.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="statistics" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <i class="fas fa-table"></i>Statistika - {{ city.name }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Karta i statistika generisani: {{ statistics.date_generation }}<br/>
          Statistika je bazirana samo na bici stazama na području opštine {{ city.name }} (ne na svim stazama vidljivim na karti).
          <hr>
          <h5>Dužina</h5>
          <table class="table table-striped table-hover">
            <tr><th scope="row">Ukupno</th><td class="text-end">{{ '{0:0.2f}'.format(statistics.total/1000.0) }}km</td></tr>
            <tr><th scope="row">Bici staza</th><td class="text-end">{{ '{0:0.2f}'.format(statistics.paths/1000.0) }}km</td></tr>
            <tr><th scope="row">Bici traka</th><td class="text-end">{{ '{0:0.2f}'.format(statistics.lanes/1000.0) }}km</td></tr>
          </table>
          <h5>Podloga</h5>
          <table class="table table-striped table-hove">
            <tr><th scope="row">Asfalt</th><td class="text-end">{{ '{0:0.2f}'.format(statistics.surface.asphalt/1000.0) }}km</td></tr>
            <tr><th scope="row">Beton</th><td class="text-end">{{ '{0:0.2f}'.format(statistics.surface.concrete/1000.0) }}km</td></tr>
            <tr><th scope="row">Pločnik</th><td class="text-end">{{ '{0:0.2f}'.format(statistics.surface.paving_stones/1000.0) }}km</td></tr>
            <tr><th scope="row">Kaldrma</th><td class="text-end">{{ '{0:0.2f}'.format(statistics.surface.sett/1000.0) }}km</td></tr>
            <tr><th scope="row">Čvrsta (nespecifirano)</th><td class="text-end">{{ '{0:0.2f}'.format(statistics.surface.paved/1000.0) }}km</td></tr>
            <tr><th scope="row">Zemlja</th><td class="text-end">{{ '{0:0.2f}'.format(statistics.surface.ground/1000.0) }}km</td></tr>
            <tr><th scope="row">Nepoznato</th><td class="text-end">{{ '{0:0.2f}'.format(statistics.surface.unknown/1000.0) }}km</td></tr>
          </table>
          <h5>Osvetljenost</h5>
          <table class="table table-striped table-hover">
            <tr><th scope="row">Da</th><td class="text-end">{{ '{0:0.2f}'.format(statistics.lit.yes/1000.0) }}km</td></tr>
            <tr><th scope="row">Ne</th><td class="text-end">{{ '{0:0.2f}'.format(statistics.lit.no/1000.0) }}km</td></tr>
            <tr><th scope="row">Nepoznato</th><td class="text-end">{{ '{0:0.2f}'.format(statistics.lit.unknown/1000.0) }}km</td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="navigation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <i class="fas fa-envelope"></i>Navigacija
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Nažalost, ova karta je samo prosta vizualizacija bici staza!
          <br><br>
          Međutim, ima dosta besplatnih i otvorenih programa za navigaciju. Naša preporuka je
          <a href="https://brouter.m11n.de/#map=14/44.8052/20.4047/CyclOSM&lonlats=20.430029,44.816337;20.37097,44.798464&profile=trekking" target="_blank">bike router</a>.
          Ovaj ruter ima pregršt opcija, podržava različite tipove bajsova i jedina je navigacija na svetu koja uračunava i visinske razlike!
        </div>
      </div>
    </div>
  </div>

  <script>

    document.getElementById('selectSurface1').onchange = function(event) {
      event.stopPropagation();
      const offcanvasInstance = bootstrap.Offcanvas.getInstance('#offcanvasExample');
      offcanvasInstance.hide();

      document.getElementById('selectLit1').value = '';
      let selectElement = document.getElementById('selectSurface1');
      if (selectElement.value === '') {
        map.setPaintProperty('bikes-designated-outer', 'line-width', 0);
        map.setPaintProperty('bikes-lanes-outer', 'line-width', 0);
        return;
      }
      let filterValue = selectElement.value.split('-')[1];
      let condition = ["case", ["==", ["get", 'surface'], filterValue], 8, 0];
      map.setPaintProperty('bikes-designated-outer', 'line-width', condition);
      map.setPaintProperty('bikes-lanes-outer', 'line-width', condition);
    };

    document.getElementById('selectSurface2').onchange = function(event) {
      document.getElementById('selectLit2').value = '';
      let selectElement = document.getElementById('selectSurface2');
      if (selectElement.value === '') {
        map.setPaintProperty('bikes-designated-outer', 'line-width', 0);
        map.setPaintProperty('bikes-lanes-outer', 'line-width', 0);
        return;
      }
      let filterValue = selectElement.value.split('-')[1];
      let condition = ["case", ["==", ["get", 'surface'], filterValue], 8, 0];
      map.setPaintProperty('bikes-designated-outer', 'line-width', condition);
      map.setPaintProperty('bikes-lanes-outer', 'line-width', condition);
    };

    document.getElementById('selectLit1').onchange = function(event) {
      event.stopPropagation();
      const offcanvasInstance = bootstrap.Offcanvas.getInstance('#offcanvasExample');
      offcanvasInstance.hide();
      
      document.getElementById('selectSurface1').value = '';
      let selectElement = document.getElementById('selectLit1');
      if (selectElement.value === '') {
        map.setPaintProperty('bikes-designated-outer', 'line-width', 0);
        map.setPaintProperty('bikes-lanes-outer', 'line-width', 0);
        return;
      }
      let filterValue = selectElement.value.split('-')[1];
      let condition = ["case", ["==", ["get", 'lit'], filterValue], 8, 0];
      map.setPaintProperty('bikes-designated-outer', 'line-width', condition);
      map.setPaintProperty('bikes-lanes-outer', 'line-width', condition);
    };

    document.getElementById('selectLit2').onchange = function(event) {
      document.getElementById('selectSurface2').value = '';
      let selectElement = document.getElementById('selectLit2');
      if (selectElement.value === '') {
        map.setPaintProperty('bikes-designated-outer', 'line-width', 0);
        map.setPaintProperty('bikes-lanes-outer', 'line-width', 0);
        return;
      }
      let filterValue = selectElement.value.split('-')[1];
      let condition = ["case", ["==", ["get", 'lit'], filterValue], 8, 0];
      map.setPaintProperty('bikes-designated-outer', 'line-width', condition);
      map.setPaintProperty('bikes-lanes-outer', 'line-width', condition);
    };
    
    document.getElementById('selectCity1').onchange = function() {
      document.location.href = document.getElementById('selectCity1').value + '.html';
    };

    document.getElementById('selectCity2').onchange = function() {
      document.location.href = document.getElementById('selectCity2').value + '.html';
    };

    var bounds = [
      {{ city.map_bounds }}
    ];

    var map = new maplibregl.Map({
      container: 'map',
      style: "basic-latn.json",
      zoom: {{ city.map_zoom }},
      center: {{ city.city_center }},
      hash: true,
      attributionControl: false,
      maxBounds: bounds,
      maxZoom: 18
    });

    map.addControl(new maplibregl.NavigationControl(), 'top-left');
    map.addControl(new maplibregl.AttributionControl({compact: false, customAttribution: 'OSM Serbia'}));

    map.on('style.load', function () {
        map.addSource('bikes-designated', {
          'type': 'geojson',
          'data': '{{ city.short }}-designated.geojson'
        });

        map.addSource('bikes-lanes', {
          'type': 'geojson',
          'data': '{{ city.short }}-lanes.geojson'
        });

        map.addLayer({
          'id': 'bikes-designated-outer',
          'type': 'line',
          'source': 'bikes-designated',
          'layout': {
            'line-join': 'round',
            'line-cap': 'round',
          },
          'paint': {
            'line-color': "turquoise",
            'line-width': 0,
          },
        });

        map.addLayer({
          'id': 'bikes-designated',
          'type': 'line',
          'source': 'bikes-designated',
          'layout': {
            'line-join': 'round',
            'line-cap': 'round'
          },
          'paint': {
            'line-color': '#0000FF',
            'line-width': 2,
          }
        });

        map.addLayer({
          'id': 'bikes-lanes-outer',
          'type': 'line',
          'source': 'bikes-lanes',
          'layout': {
            'line-join': 'round',
            'line-cap': 'round',
          },
          'paint': {
            'line-color': "turquoise",
            'line-width': 0,
          },
        });

        map.addLayer({
          'id': 'bikes-lanes',
          'type': 'line',
          'source': 'bikes-lanes',
          'layout': {
            'line-join': 'round',
            'line-cap': 'round'
          },
          'paint': {
            'line-color': '#0000FF',
            'line-width': 1.5,
            'line-dasharray': ["step", ["zoom"], ["literal", [1, 4]], 13, ["literal", [2,4]], 15, ["literal", [4,4]], 17, ["literal", [6,6]]]
          }
        });
      });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
